<header>
  <app-nav-bar></app-nav-bar>
</header>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Image Gallery</h1>
    <p class="lead">This is a simple image gallery application that allows you to search photos within flickr API.</p>
    <hr class="my-4">
    <app-image-search (onTextChange)="searchImages($event)"></app-image-search>
  </div>
</div>
<div class="container gallery-container">
  <app-gallery [images]="images"></app-gallery>
  <app-loader [show]="showLoader"></app-loader>
  <app-alert-message></app-alert-message>
</div>


