/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.ng2-tags-container {
  background-color: white;
}

.modal-dialog {
  max-width: fit-content;
  height: auto;
}
